### Import Libraries

In [2]:
import pandas as pd
import numpy as np

### Import and Read data

In [3]:
df = pd.read_csv('Global_Superstore2.csv')
df.head(4)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium

In [4]:
df.shape

(51289, 24)

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

### Start Clining Data

In [6]:
superstore_data = df[['Order Date','Ship Date','Ship Mode','Segment','City','State','Country','Sub-Category','Product Name','Sales','Quantity','Discount','Profit','Shipping Cost','Order Priority']]

In [7]:
superstore_data.head()

,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,31-07-2012,31-07-2012,Same Day,Consumer,New York City,New York,United States,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,05-02-2013,07-02-2013,Second Class,Corporate,Wollongong,New South Wales,Australia,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,17-10-2013,18-10-2013,First Class,Consumer,Brisbane,Queensland,Australia,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,28-01-2013,30-01-2013,First Class,Home Office,Berlin,Berlin,Germany,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,05-11-2013,06-11-2013,Same Day,Consumer,Dakar,Dakar,Senegal,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [8]:
superstore_data.shape

(51289, 15)

In [9]:
superstore_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51289 entries, 0 to 51288
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Date      51289 non-null  object
 1   Ship Date       51289 non-null  object
 2   Ship Mode       51289 non-null  object
 3   Segment         51289 non-null  object
 4   City            51289 non-null  object
 5   State           51289 non-null  object
 6   Country         51289 non-null  object
 7   Sub-Category    51289 non-null  object
 8   Product Name    51289 non-null  object
 9   Sales           51289 non-null  float64
 10  Quantity        51289 non-null  int64
 11  Discount        51289 non-null  float64
 12  Profit          51289 non-null  float64
 13  Shipping Cost   51289 non-null  float64
 14  Order Priority  51289 non-null  object
dtypes: float64(4), int64(1), object(10)
memory usage: 5.9+ MB

In [10]:
superstore_data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51284    False
51285    False
51286    False
51287    False
51288    False
Length: 51289, dtype: bool

### Clean special characters

In [11]:
import unicodedata

def remove_unicode(s):
    return unicodedata.normalize('NFKD', s).encode('ascii', 'ignore').decode('utf-8')

# Remove unicode characters from all string columns
for col in superstore_data.select_dtypes(include=['object']):
    superstore_data[col] = superstore_data[col].apply(remove_unicode)

C:\Users\SAYAN KARMAKAR\AppData\Local\Temp\ipykernel_6180\116846015.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  superstore_data[col] = superstore_data[col].apply(remove_unicode)

### Save Data

In [12]:
superstore_data.to_csv('superstore1.csv')